<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1> Lunch Box </h1>
        <ul>
        
            <%for (let i = 0; i < lunches.length; i++ ) {%>
            
            <li><a href="lunches/<%=i%>" ><%=lunches[i].name %></a>
                <form action="/lunches/<%=i %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                </form>
                <a href="/lunches/<%=i%>/edit"> Edit your lunch </a>
            </li>
            <%}%>
        </ul>
        <nav>
            <a href="/lunches/new">Create a New Lunch!</a>
        </nav>
    </body>
</html>