<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1> Make a New Lunch Box</h1>
         <form action="/lunches" method="Post">
        Name: <input type="text" name="name"><br/>
        Color: <input type="text" name="color"><br/>
        Food: <input type="text" name="food"><br/>
        Drink: <input type="text" name="drink"><br/>
        <button type="submit"> Create a Lunch</button>
        </form>
    </body>
</html>